<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav class="nav navbar-nav navbar-left">
            <span>Bookers</span>
        </nav>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <!--if文でサインインとアウト時の表示を変更-->
                <% if user_signed_in? %>
                <li>
                    <%= link_to ' home', user_path(current_user), class: 'glyphicon glyphicon-home home' %>
                </li>
                <li>
                    <%= link_to ' users', users_path, class: 'glyphicon glyphicon-user users' %>
                </li>
                <li>
                    <%= link_to ' books', books_path, class: 'glyphicon glyphicon-book books' %>
                </li>
                <li>
                    <%= link_to ' log out', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %>
                </li>
                <% else %>
                <li>
                    <%= link_to ' home', root_path, class: 'glyphicon glyphicon-home home' %>
                </li>
                <li>
                    <%= link_to ' about', home_about_path, class: 'glyphicon glyphicon-link about' %>
                </li>
                <li>
                    <%= link_to ' Sign up', new_user_registration_path, class: 'glyphicon glyphicon-edit sign_up' %>
                </li>
                <li>
                    <%= link_to ' login', new_user_session_path, class: 'glyphicon glyphicon-log-in sign_in' %>
                </li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>

<body>
    <div class="container">
        <% if @user_or_book == "1"%>
        <h2>User search for '
            <%= params[:search]%>'</h2>
        <table class="table ">
            <thead>
                <th>image</th>
                <th>name</th>
                <th></th>
            </thead>
            <% @users.each do |user| %>
            <tbody>
                <tr>
                    <th>
                        <%=  attachment_image_tag user,:profile_image,size:'40x40',fallback: "no_image.jpg" %>
                    </th>
                    <th>
                        <%= user.name %>
                    </th>
                    <th>フォロー数：
                        <%= user.followings.count %>
                    </th>
                    <th>フォロワー数：
                        <%= user.followers.count%>
                    </th>
                    <th>
                        <% unless current_user == user%>
                        <% if current_user.following?(user) %>
                        <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
                        <%= hidden_field_tag :follow_id, user.id %>
                        <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
                        <%end%>
                        <% else %>
                        <%= form_for(user.relationships.build) do |f| %>
                        <%= hidden_field_tag :follow_id, user.id %>
                        <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
                        <% end %>
                        <% end %>
                        <%end%>
                    </th>
                    <th>
                        <%= link_to 'Show',user_path(user.id) %>
                    </th>
                </tr>
            </tbody>
            <% end %>
        </table>
        <% elsif @user_or_book == "2" %>
        <h2>Book search for '
            <%= params[:search]%>'</h2>
        <table class="table">
            <thead>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th></th>
            </thead>
            <% @books.each do |book| %>
            <tbody>
                <tr>
                    <th>
                        <%= link_to user_path(book.user) do %>
                        <%= attachment_image_tag book.user,:profile_image, size:"40x40", format: 'jpeg' , fallback: "no_image.jpg"%>
                        <% end %>
                    </th>
                    <th>
                        <%= link_to book.title,book_path(book.id) %>
                    </th>
                    <th>
                        <%= book.body %>
                    </th>
                    <th>
                        <%if book.favorited_by?(current_user)%>
                        <%= link_to book_favorites_path(book),method: :delete do%>
                        <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
                        <%= book.favorites.count %>
                        <% end %>
                        <%else%>
                        <%= link_to book_favorites_path(book),method: :post do%>
                        <i class="glyphicon glyphicon-heart-empty" aria-hidden="true"></i>
                        <%= book.favorites.count %>
                        <%end%>
                        <%end%>
                    </th>
                    <th>
                        <a>コメント数：
                            <%= book.book_comments.count %></a>
                    </th>
                </tr>
            </tbody>
            <% end %>
        </table>
        <% else %>
        <% end %>
    </div>
</body>